    html, body { max-width: 100%; overflow-x: hidden; }
    body {
      margin: 0;
      background-image: linear-gradient(180deg, #ffffff 0%, #aeaeae 100%);
    }
    .mainbtn {
      background: linear-gradient(0deg, #c01c28 50%, #e01b24 50%);
      display: inline-block;
	  width: 183px;
	  height: 50px;
      color: white;
      font-size: 20px;
      font-family: arial;
      padding-top: 15px;
      padding-bottom: 15px;
      border: none;
      border-radius: 0px;
      border-style: ridge;
      border-color: #e01b24;
      cursor: pointer;
	  transition-duration: 0.4s;
  }
    .mainbtn:active {
      background: linear-gradient(180deg, #c01c28 50%, #e01b24 50%);
  }
    .mainbtn:hover {
      font-size: 30px;
  }

    #contentbox {
	BACKGROUND: #FFFFFF; WIDTH: 708px; PADDING-TOP: 0px; PADDING-BOTTOM: 12px; PADDING-LEFT: 12px; PADDING-RIGHT: 12px
  }
  
    #holder {
	TEXT-ALIGN: left; WIDTH: 732px; MARGIN: auto
  }
    @keyframes pulseAnimation {
    0%, 100% { transform: scale(1); }
    50% { transform: scale(1.15); }
  }

    .pulsing {
      display: inline-block;
      animation-name: pulseAnimation;
      animation-duration: 1s;
      animation-timing-function: ease;
      animation-iteration-count: infinite;
      animation-direction: normal;
      animation-fill-mode: both;
  }
    @keyframes spinAnimation {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
  }

    .spining {
      display: inline-block;
      animation-name: spinAnimation;
      animation-duration: 1s;
      animation-timing-function: cubic-bezier(0.68,-0.55,0.27,1.55);
      animation-iteration-count: infinite;
      animation-direction: normal;
      animation-fill-mode: both;
  }
    body {
      margin: 0;
      padding: 0;
  }

    h2, p {
      margin: 10px;
  }
    h2 {
      font-family: arial;
      color: white;
      background: linear-gradient(0deg, #1c71d8 50%, #3584e4 50%);
  }

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333333;
  }

    ul li {
      float: left;
  }

    ul li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
  }

    ul li a:hover {
      background-color: #111111;
